@use "breakpoints" as *;
@use "sizes" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $s6;
  padding: $s5;
  background: var(--white);
  box-shadow: var(--shadow);
  border: 0.6px solid var(--stroke);
  border-radius: 10px;

  @include size('md') {
    box-shadow: unset;
    padding: unset;
    border: unset;
    gap: $s4;
    background: unset;
    & h2 {
      display: none;
    }
  }
}

.category, .price_range {
  @include size('md') {
    display: none !important;
  }
}
