@use "sizes" as *;

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $s4;
  border: 0.6px solid var(--stroke);
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: $s2;
  min-height: 200px;
}

.topbar {
  margin-top: -$s4;
  margin-right: -$s4;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.topbar__pills {
  margin-top: $s4;
  margin-right: $s4;
  display: flex;
  align-items: flex-start;
  gap: $s1;
  z-index: 2;
}

.bottombar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-end;
  gap: $s2;

  & h3 {
    flex-shrink: 1;
  }
}

.overlay {
  position: absolute;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.7);
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_container {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 0;
}

.image {
  margin-top: -$s6;
  margin-right: -$s6;
}

.cta_button {
  border: none;
  background: var(--green);
  height: $s6;
  width: $s6;
  border-radius: 9999px;
}

