.main {
  display: flex;
  padding: 40px;
  max-width: 1440px;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 100%;
  max-width: 239px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
