@use "sizes" as *;

.badge {
  border: 0.6px solid var(--stroke);
  border-radius: $s2;
  background: var(--white);
  padding: $s2 $s3;
}

.selected {
  background: var(--green);
  color: var(--white);
  border-color: var(--green);
}

.clickable {
  cursor: pointer;
}

.small {
  padding: $s2;
}
