.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.wrapper h3 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  width: 100%;
}
