@use "sizes" as *;
@use "breakpoints" as *;

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $s4;

  @include size('md') {
    gap: $s2;
  }
}

.inner {
  display: flex;
  flex-wrap: wrap;
  gap: $s2;
}

.wrapper h3 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  width: 100%;
}
