@use "sizes" as *;

.wrapper {
  border: 0.6px solid var(--stroke);
  border-radius: 999px;
  background: var(--white);
  padding: $s2 $s3;

  & p {
    display: flex;
    gap: $s2;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
  }
}

.indicator {
  display: inline-block;
  border-radius: 999px;
  width: $s2;
  height: $s2;
  background: var(--black);
}

.indicator__active {
  background: var(--green);
}
