.wrapper {
  border: 0.6px solid var(--stroke);
  border-radius: 999px;
  background: var(--white);
  padding: 8px 12px;

  & p {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
  }
}

.indicator {
  display: inline-block;
  border-radius: 999px;
  width: 8px;
  height: 8px;
  background: var(--black);
}

.indicator__active {
  background: var(--green);
}
